* {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

body {
    background-color: #0E0837;
    font-family: sans-serif;
    color: white;
    overflow-x: hidden;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    height: 100vh;
}

.hero p:nth-child(1) {
    color: #D61462;
    font-size: 1.7rem;
}

.hero h1 {
    font-size: 3rem;
    font-weight: normal;
    background-image: url('https://i.gifer.com/OwRt.gif');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p:nth-child(4) {
    text-transform: capitalize;
    color: #D61462;
}

.hero button {
    padding: 0.7rem;
    background-color: #0567F3;
    border: none;
    color: white;
    align-self: self-start;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title-image img {
    scale: 1.2;
}

.hero-icons {
    display: flex;
    gap: 0.7rem;
}


.hero-icons i {
    transition: all .3s;
    cursor: pointer;
    font-size: 1.4rem;
}


.hero-icons i:hover {
    transform: translateY(-10px);
    color: #D61462;
}

.tours-section {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}


.tour-desc {
    width: 65%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.tour-desc h2 {
    color: #D61462;
}

.tour-cards {
    display: flex;
    background-color: #100726;
    padding: 4rem;
    gap: 2rem;
}

.tour-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tour-card button {
    align-self: flex-start;
    padding: 0.7rem;
    background-color: #D61462;
    border: none;
    color: white;
}

.tour-image {
    width: 35%;
    padding: 2rem;
    background: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.t-image,
.t-text {
    transition: all 0.7s;
}


.tour-image:hover .t-image {
    transform: translate(50%, -50%);
    border-radius: 50%;
}


.tour-image:hover .t-text {
    transform: translateY(-70px);
}



.journey{
    width: 70%;
    margin: 2rem auto;
    text-align: center;
    margin-top: 2rem;
}

.j-image{
    position: relative;
}

.j-image i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
}


.about-us{
   padding: 2rem;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.abt-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.abt-title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-us h2{
    font-size: 2.5rem;
}
.about-us h3{
    color: #D61462;
    font-size: 2rem;
}


.tracks{
    width: 70%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
}

.track-card{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(45deg, rgb(70, 12, 58), #0E0829, #2B0F47);
    padding: 2rem;
}

.tc-right{
    display: flex;
    gap: 2rem;
}
.release{
    background: linear-gradient(-45deg, #460C3A, #0E0829, #2B0F47);
    padding: 2rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: flex-start;
}

.album-card{
    display: flex;
    gap: 2rem;
}

.mic{
    background: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    padding: 1rem;
    border-radius: 50%;
}

.album{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


@media only screen and (max-width:700px) {
    .hero {
        flex-direction: column;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .title {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero button {
        align-self: center;
    }


    .title-image img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -50%);
        z-index: -1;
        scale: 1;

    }

    .tours-section {
        flex-direction: column;
        width: 100%;
    }

    .tour-desc {
        width: 100%;
    }

    .tour-cards {
        flex-direction: column;
        width: 100%;
        padding: 1rem 0rem;
    }

    .tour-image {
        width: 100%;
        margin: auto;
        padding: 0;
        pointer-events: none;
    }

    .tour-card {
        padding-left: 1rem;
    }

    .about-us{
        flex-direction: column;
    }

    .abt-text{
        width: 100%;
    }

    .abt-title h2{
        font-size: 1.5rem;
        text-align: center;
        margin: 0.4rem 0;
    }
    .abt-title h3{
        font-size: 1.2rem;
        text-align: center;
        margin: 0.4rem 0;
    }

    .tracks{
        flex-direction: column;
    }

    .release{
        width: 100%;
    }

    .track-list{
        width: 100%;
    }



}